# registry=http://94.101.178.202:8081/repository/npm-hosted/
# always-auth=true
# email=user@example.com
# http://94.101.178.202:8081/repository/npm-hosted/:_auth=YWRtaW46NmRhYzVhOTUtMmFkNC00YzE0LTkxMWUtMDg4NzBlOTNjMTAxMQ==
# strict-ssl=false
