@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../../.flowbite-react/class-list.json";

@import "./../icons/all.css";
@import "./custom.css";
@import "./style.css";
@import "./select2.css";
@import "./fonts.css";
@source "../../../flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #2bb1aa;
}

* {
  font-family: "iranyekan";
}

.bg-Custom {
  background: linear-gradient(
    45deg,
    rgba(38, 145, 191, 1) 0%,
    rgba(15, 51, 122, 1) 100%
  );

  /* background: #2bb1aa;
  background: -moz-linear-gradient(
    bottom left,
    rgba(42, 176, 170, 1) 0%,
    rgba(21, 69, 108, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, rgba(42, 176, 170, 1)),
    color-stop(100%, rgba(21, 69, 108, 1))
  );
  background: -webkit-linear-gradient(
    bottom left,
    rgba(42, 176, 170, 1) 0%,
    rgb(21, 69, 108) 100%
  );
  background: -o-linear-gradient(
    bottom left,
    rgba(42, 176, 170, 1) 0%,
    rgba(21, 69, 108, 1) 100%
  );
  background: -ms-linear-gradient(
    bottom left,
    rgba(42, 176, 170, 1) 0%,
    rgba(21, 69, 108, 1) 100%
  );
  background: linear-gradient(
    to top right,
    rgba(42, 176, 170, 1) 0%,
    rgba(21, 69, 108, 1) 100%
  ); */
}

@layer base {
  button {
    border-radius: 0.75rem;
    padding: 8px 20px;
  }
}

.btn-outline {
  @apply bg-[#2691bf] text-white transition-colors duration-200 hover:bg-[#1e7aa0];
}

.btn-primary {
  @apply border-[#2691bf] bg-[#2691bf] text-white shadow-[#2691bf]/60;
}

.btn-success {
  @apply border-green-500 bg-green-500 text-white shadow-green-700;
}

.btn-danger {
  @apply border-red-500 bg-red-500 text-white shadow-red-700;
}

.btn-warning {
  @apply border-orange-500 bg-orange-500 text-white shadow-orange-700;
}

/* Form */
.form-input,
.form-textarea,
.form-select,
.form-multiselect {
  @apply h-12 w-full rounded-xl border border-gray-300 bg-white px-4 py-2 text-sm text-black;
}

div#load_screen {
  background: #fff;
  opacity: 1;
  position: fixed;
  z-index: 999999;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

div#load_screen .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
