.rmdp-container {
  display: inline !important;
}

.toolbars {
  /* --mrt-base-color: red; */
  /* --mrt-base-background-color: rgb(44, 34, 44);
    --mrt-base-background-color: rgb(200, 200, 244); */
  /* color: red !important; */
}

/* .head-cells {
    font-weight: bold;
    color: indigo;
  } */

.mrt-toolbar-internal-buttons .mantine-ActionIcon-root {
  color: #089bab !important;
}

.mrt-table-paper {
  border-radius: 15px;
}

.mantine-Badge-root {
  margin-left: 0ch !important;
  margin-right: 1ch;
  padding-left: 0px;
}

.m_66836ed3 {
  background-color: #ceebee;
}

.mantine-focus-auto {
  color: #089bab;
  /* background-color: #fff; */
}

.m_326d024a:where([data-active]) {
  background-color: transparent !important;
  border-color: #1b334d !important;
  color: #1b334d !important;
  font-weight: bold !important;
}

.m_326d024a:where([data-active]):hover {
  background-color: #e8f4f8 !important;
  color: #1b334d !important;
}

.m_326d024a:hover:not([data-active]) {
  background-color: #f0f0f0 !important;
}
