.custom-select .css-1dimb5e-singleValue,
.custom-select .css-166bipr-Input,
.custom-select .css-qbdosj-Input {
  @apply text-black dark:text-gray-600;
}

.custom-select .css-1fdsijx-ValueContainer {
  @apply !pl-4;
}
div.css-13cymwt-control {
  @apply h-12 rounded-xl;
}

div.css-t3ipsp-control {
  @apply h-12 rounded-xl;
}

.custom-select .css-b62m3t-container > div {
  @apply border-[rgb(224,230,237)] bg-white hover:border-inherit dark:border-[#253b5c] dark:bg-[#1b2e4b];
}
.custom-select .css-b62m3t-container > div:first-of-type {
  @apply shadow-none;
}

.custom-select .css-1nmdiq5-menu > div > div {
  @apply !bg-transparent hover:!bg-[#f6f6f6] dark:hover:!bg-[#132136];
}
.custom-select .css-1nmdiq5-menu > div > div[aria-disabled="true"] {
  @apply !bg-transparent !text-[#999];
}
.custom-select .css-1nmdiq5-menu > div > .css-tr4s17-option {
  @apply !bg-[#f6f6f6] !text-black dark:!bg-[#132136] dark:!text-gray-600;
}
.custom-select .css-1xc3v61-indicatorContainer {
  @apply text-[#999] dark:text-gray-600;
}
.custom-select .css-1u9des2-indicatorSeparator {
  @apply hidden;
}
.custom-select .css-1p3m7a8-multiValue {
  @apply !bg-green-500 !text-white;
}
.custom-select .css-wsp0cs-MultiValueGeneric {
  @apply !text-white;
}

.mantine-cdbiq {
  direction: rtl;
  font-family: iranyekan !important;
}

.selectHeder div {
  background-color: #ceebee;
  border-radius: 15px;
  border: none;
  color: #0a9cac;
}

.selectHeder div span {
  width: 0px;
}

.selectHeder div:focus {
  background-color: red;
}

.selectHeder svg {
  color: #0a9cac;
}

.css-1nmdiq5-menu {
  z-index: 99999 !important;
  /* position: sticky !important; */
}
